{% extends 'base.html' %}

{% block head %}
<title>タスク一覧表</title>
{% endblock %}

{% block body %}
<div class="bg-dark container text-light">
    <div class="my-5">
        <h1>タスクの追加</h1>
        <form action="/todo" method="POST">
            <div>
                <label for="title">タイトル：</label>
                <input type="text" id="title" name="title" placeholder="ToDoのタイトル">	
            </div>
            <div>
                <label for="done">完了状況：</label>
                <input class="ml-2" type="radio" id="done_0" name="done" value=0 checked>未完了
                <input class="ml-1" type="radio" id="done_1" name="done" value=1>完了
            </div>
            <div>
                <label for="deadline">対応期日：</label>
                <input type="text" id="deadline" name="deadline" placeholder="yyyy-mm-dd形式">	
            </div>
            <div>
                <input type="submit" value="追加">
            </div>
        </form>
    </div>
    <h1>タスク一覧</h1>
    <table class="table mx-auto text-light">
        <thead>
            <tr>
                <th >タスク名</th>
                <th >完了状況</th>
                <th >対応期限</th>
                <th >アクション</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todolist %}
                {% if edit != todo.id %}
                <tr>
                    <td>{{ todo.title }}</td>
                    <td>{{ "完了" if todo.done else "未完了" }}</td>
                    <td>{{ todo.deadline }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('index', edit=todo.id) }}">編集</a>｜
                        <a class="btn btn-danger" href="{{ url_for('delete_todo', id=todo.id) }}">削除</a>
                    </td>
                </tr>
                {% elif edit == todo.id %}
                <form action="/updatetodo/{{todo.id}}" method="POST">
                    <tr>
                        <td><input type="text" id="title" name="title" value="{{todo.title}}"></td>
                        <td>
                            <input type="radio" id="done_0" name="done" value=0 checked>未完了
                            <input class="ml-1" type="radio" id="done_1" name="done" value=1>完了
                        </td>
                        <td><input type="text" id="deadline" name="deadline" value="{{todo.deadline}}"></td>
                        <td>
                            <input class="btn btn-success" type="submit" value="更新">｜
                            <a class="btn btn-danger" href="{{ url_for('delete_todo', id=todo.id) }}">削除</a>
                        </td>
                    </tr>
                </form>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}